
<div class="card" style="max-height: 250px">
  <div class="card-content" >
      <h4 class="card-title">
      </h4>
   
      <h4><strong>Best Price For Your Gadgets</strong></h4>  
      <p class="pcard">Easysell price estimation calculates the best price for your old and used gadgets based upon the current device condition and market price
      </p>
        <h4><strong>Door Step Pick-up and Spot Cash</strong></h4>
        <p class="pcard">
            Easysell offers doorstep pick-up and spot cash payment to our customers. Easysell payment option provides a hassle-free old phone exchange for cash.
      </p>
        <h4><strong> Don’t worry about selling your phone online.</strong></h4>
        <p class="pcard">
            Easysell provides a safe platform to sell your old mobile phone online.
      </p>
      <p class="pcard">
          <span><strong>Our customer care service department works 24/7 to provide every answer for your question and We strive hard to provide a safe selling.</strong></span>
      </p>
  </div>
  
</div> 