  <form [formGroup]="form" style="padding-left:10%;">
        <div id="formContent">
          <div class="">
            <h4 style="font-style: italic">Add Defect</h4>
          </div>
            <input type="text" id="defectname" name="name" formControlName="name" placeholder="DEFECT NAME">
            <textarea rows="3" id="defectdescription" cols="50" formControlName="description"  placeholder="DESCRIPTION"></textarea>
            <input type="button" (click)='add()' value="ADD"> 
            <input type="button" (click)='cancel()' value="CANCEL">
            
         
        </div>
        </form>